.container {
    padding: 3rem;
}

h1, h2 {
    color: pink;
}

.step-section {
    margin-left: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex-basis: 180px;
}

a {
    text-decoration: none;
}